*{margin: 0; padding: 0%;}

body {
    background-color: silver;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul{
    text-align: justify;
    margin-top: 10px;
    margin-left: 30px;
}

.explicacion{
    background-color: white;
    text-align: justify;
    margin-left: 450px;
    margin-right: 450px;
    padding: 20px;
}

.caja-content {
    box-sizing: content-box;
    background-color: #ffe0b2;
    margin-left: 750px;
    margin-right: 750px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 5px solid #ff9800;
    margin-bottom: 20px;
    text-align: center;
}

.caja-border {
    box-sizing: border-box;
    background-color: #c8e6c9;
     margin-left: 800px;
    margin-right: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 5px solid green;
    margin-bottom: 20px;
    text-align: center;

}