* {margin: 0; padding: 0;}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

#titulo-principal{
    text-align: center;
    color: #0056b3;
    font-size: 2.5rem;
}

.contenido{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.contenido h2{
    color: #444;
    border-bottom: 1px solid #ddd;
    padding-bottom:8px;
}

.destacado{
    font-weight: bold;
    color: red;
}

.nota{
    background-color: burlywood;
}

.subtitulo{
    text-align: center;
    margin-bottom: 30px;
    font-style: italic;
    color: #666;
}

footer{
    text-align: center;
    padding-top: 5px;
    color: #666;
}