.transition-box {
    transition: all 0.3s ease;
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 17%;
    margin-left: 10%;
    height: 150px;
}

.box-container{
    display: flex;
    margin-top: 50px;

}

.box{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.pulse-box{
    animation: pulse 1.5s infinite;
    background-color: #9b59b6;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 17%;
    margin-left: 10%;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(0.5); }
    100% { transform: scale(1); }
}

.animation-box{
    animation: bounce 2s infinite;
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 17%;
    margin-left: 10%;
}


.transition-box:hover {
    transform: scale(1.1);
    background-color: #e74c3c;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

body{
    background-color: black;
}

h1{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white;
}