*{margin: 0; padding: 0%;}

body{
    background-color: white;
      margin-left: 15px;
}

.menu-horizontal ul {
    list-style-type: none;
    background-color: #333;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    margin-bottom: 75px;
    padding: 10px;
}

a{
    color: white;
    padding: 10px;
}

h1{
    margin-bottom: 15px;
}

h2{
    margin-bottom: 15px;
}

p{
    margin-bottom: 15px;
}

.menu-horizontal li {
    display: inline-block;
}

.menu-horizontal li a:hover {
    background-color: #111;
    color: #ffd700;
}

.boton-primario{
    background-color: blue;
    color: white;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.boton-secundario{
    background-color: white;
    color: black;
    
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    border: black 1px solid;
}