
body{
    background-color: ghostwhite;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.responsive-grid {
    flex-direction: column;
    display: flex;
    
    text-align: justify;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h3{
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .responsive-grid {
    grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .responsive-grid {
    grid-template-columns: repeat(3, 1fr);
    }
}